html, body{
	width: 100%;
	height: 100%;
	padding: 0px;
	overflow-x: hidden;
}

header{
	background: white;
	height: 100px;
}
.logo-section{
	width: 7%;
}

.container{
	width: 1000px;
	margin: 0 auto;
}

.logo-section img{
	width: 100%;
	display: inline-block;
	margin-top: 20px;
	margin-left: -150px;
}

nav{
	float: right;
	margin-top: -40px;
	margin-right: -30px;
}

nav a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	padding: 20px 20px;
}

nav a:hover{
	background: #003c77;
	border-radius: 10px;
}

section.banner-section{
	background-image: url("../img/bg2.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	padding: 226px;
}

section.banner-section h1{
	text-align: center;
	font-size: 150px;
	margin-left: -100px;
	text-transform: uppercase;
	border: 1px solid #00000;
	color: #ff7b31;
}

section.aboutus-section{
	background-color: #fee85f ;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	width: 100%;
	height: 100%;
}

section.aboutus-section h2{
	font-size: 30px;
	margin-top: 0px;
	text-align: center;
	color: black;
}


div.section2-content{
	display: inline-block;
	width: 49%;	
}

div.section2-content img{
 	float: right;
	height: 300px;
	padding-bottom: 150px
}

div.section2-content p{
	font-size: 25px;
	text-align: justify;
	padding: 74px;
	float: left;
}

section.service-section{
	background-color:#7e91ea ;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	width: 100%;
	height: 100%;
}

section.service-section h3{
	font-size: 30px;
	margin-top: 0px;
	text-align: center;
	color: black;
}

div.section3-content{
	display: inline-block;
	width: 33%;
	border-left: 1px solid black;
	text-align: center;
	color: black;
}

div.section3-content p{
	font-size: 16px;
	text-align: justify;
	padding: 74px;
	float: left;
	
}



